In [53]:
#setting range
for i in range(0,100):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [2]:
#range start, stop, step by(can be a table or addition n all)
for i in range(0, 100, 7): 
     print(i,end=",")

0,7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [3]:
#only even number or 2 table
for i in range(2, 100, 2):
    print(i,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [4]:
#sum of each number till 100
n=100
sum = 0
for counter in range(1,n+1):
    sum = sum + counter
sum

5050

In [17]:
import pandas as pd
import numpy as np

In [54]:
#making and combining array
a = np.array([1,2,3,4,5,6,7,8,9,10])
b = np.array([11,12,13,14,15,16,17,18,19,20])
x = pd.DataFrame(b,a)

In [55]:
print(x)

     0
1   11
2   12
3   13
4   14
5   15
6   16
7   17
8   18
9   19
10  20

In [56]:
#shifting by the value of 2
y = x.shift(2)

In [57]:
print(y)

       0
1    NaN
2    NaN
3   11.0
4   12.0
5   13.0
6   14.0
7   15.0
8   16.0
9   17.0
10  18.0

In [58]:
#screenout only odd
print(x[::2])

    0
1  11
3  13
5  15
7  17
9  19

In [59]:
#screenout only even
print(x[1::2])

     0
2   12
4   14
6   16
8   18
10  20

In [60]:
#diffrencing
diff = x-x.shift(1)
print(diff)